* {
  box-sizing:border-box;
}

.left {
  padding:1px;
  float:left;
  width:20%; /* The width is 20%, by default */
}

.main {
  color: #4d4d4d;
  padding:20px;
  float:left;
  width:60%; /* The width is 60%, by default */
}

div.main p{
  width: 100%;
  float: left;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;  
}

div.main hr{
  border-top: 2px solid #c3c3c3;
  float: left;
  width: 100%;
  margin: 0px;
}

div#img1{
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  float: left;
}

div#img1 img{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    height: 35%;
  }

div#someText span{
  width: 100%;
  float: left;
  text-align: center;
  padding-bottom: 3px;
}

div.buttOn{
  padding-top: 20px;
   width: 24%;
   margin-left: 38%;
   margin-right: 38%;
  height: 50px;
  float: left;
}


.buttOn button {
  padding: 2%;
  margin-right: 2%;
  font-size: 100%;
}


.btn {
  border: none;
  color: white;
  padding: 3% 5%;
  font-size: 16px;
  cursor: pointer;
}

.success {background-color: #2196F3;} /* Green */
.success:hover {background-color: #0b7dda;}

.info {background-color: #33d6ff;} /* Blue */
.info:hover {background:   #00ccff;}



.right {
  padding:1px;
  float:left;
  width:20%; /* The width is 20%, by default */
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width:600px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
    div.buttOn{
    padding-top: 20px;
     width: 40%;
     margin-left: 30%;
     margin-right: 30%;
    height: 50px;
    float: left;
  }

}

/* view clients css */
#backBtt {
  padding: 3% 10%;
  font-size: 110%;
  margin: 0px;
}

div.FirstBarSection {
  width: 100%;
  float: left;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 30px;
}

div.bTT {
  width: 20%;
  float: left;
}

div.FirstBarSection p {
  width: 80%;
  float: left;
  margin-top: 1px;
}

span.goCenter {
 width: 80%;
 text-align: center;
}

.goRighT {
  float: right;
}

.FirstBarSection a{
  width: 20%;
}


div.sectiOns {
  width: 100%;
  float: left;
  
}

div#someTextSecond {
  width: 60%;
  float: left;
  text-align: left;
  padding-bottom: 3px;
  padding-top: 1%;
  
}

div.buttOnSecond{
  padding-top: 3px;
  width: 40%;
  float: left;
  
}

a.goRight {
  float: right;
}

.buttOnSecond button {
  padding: 2% 4%;
  float: right;
  margin-bottom: 3px;
  margin-left: 2%;
  font-size: 100%;
}

/*profile css */

div#someText2 span{
  width: 40%;
     margin-left: 30%;
     margin-right: 30%;
  float: left;
  padding-bottom: 3px;
}